<html lang="fr">


<head>
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="https://use.fontawesome.com/e45e963e7b.js"></script>
    <style>
        #a:hover {
            text-decoration: none;
            color: #337ab7;
        }

    </style>

</head>


<body>

    <div style="font-size:25px;" class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <h1>Inscription<a id="a"> RÉUSSITE</a></h1>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>

    <div style="text-align: center" class="row">
        <div class="col-md-5"></div>
        <div class="col-md-2">
            <a style="margin-top:10%;background-color:#337ab7;border-color:#337ab7;" class="btn btn-block btn-lg btn-success" href="{{ path('produit_index') }}">Continuer</a>
        </div>
        <div class="col-md-5"></div>
    </div>
</body>
